PORT =5000
JWT_SECRET =b7fcb34a-0f05-4d13-99af-8db42e789550
JWT_ACCESS_TOKEN_SECRET =b7fcb34a-0f05-4d13-99af-8db42e789550
JWT_ACCESS_TOKEN_EXPIRATION_MS=60000 # 1 minutes 60000 or 1 hour 3600000 
JWT_REFRESH_TOKEN_SECRET =b7fcb34a-0f05-4d13-99af-8db42e789550
JWT_REFRESH_TOKEN_EXPIRATION_MS=120000 # 2 minutes 60000 or 1 day 86400000 


# JWT_ACCESS_TOKEN_EXPIRATION=1m # 1 minute
# JWT_REFRESH_TOKEN_EXPIRATION=2m # 2 minutes

JWT_ACCESS_TOKEN_EXPIRATION=60000 # 1 minute
JWT_REFRESH_TOKEN_EXPIRATION=120000 # 2 minutes


MONGODB_URL =mongodb://127.0.0.1:27017/tmpl-auth-db
NODE_ENV=development
APP_CORS_ORIGIN =http://localhost:3000,https://beximco-pharma.com


